/* 전체 스타일 CSS */
@charset "utf-8";

body {width: 1100px; margin: 0 auto; }
a {text-decoration: none;}


/* ------------------------------------------------------------------ top-panel */
#top-panel {position: relative;}

#top-panel .logo {height:130px; text-align: center; line-height: 130px; background-color: #C53163;}
#top-panel .logo a {font-weight: bold; font-size: 35pt; color: #fff;}
#top-panel .navi-top {height: 30px; background-color: #DCDCDC; }

#top-panel ul {position: absolute; list-style: none; padding: 0px; margin: 0 10px;}
#top-panel .navi-top ul {line-height: 30px;}
#top-panel .navi-top ul li {display: inline-block; text-align: center; color: #333333; font-size: 10pt; font-weight: bold; margin-left: 10px;}
#top-panel .navi-top ul li .li-menu {cursor: pointer; color: #C53163;}
#top-panel .navi-top ul.navi-top-left {float: left;}
#top-panel .navi-top ul.navi-top-right {right: 10px; }

#top-panel .navi-menu {height: 40px; background-color: #A24162; color: #fff;}
#top-panel .navi-menu ul {line-height: 40px;}
#top-panel .navi-menu ul li {display: inline-block; text-align: center; font-weight: bold; vertical-align: bottom; margin: 0 10px; font-size: 10pt; font-color: #333333; cursor: pointer;}
#top-panel .navi-menu ul li:hover {color: #fff; opacity:0.6}

#top-panel .navi-menu ul.navi-menu-left {float: left;}
#top-panel .navi-menu ul.navi-menu-right {right: 0; }

/* ------------------------------------------------------------------ content-panel */
#content-panel {clear:both; }
#content-panel .drawing-board {width: 100%; height: 580px; position:relative; float:right;}

/* ---------- drawing-tool */

#content-panel .drawing-tool {height: 60px;}
#content-panel .drawing-tool ul {list-style: none; padding: 0; margin: 0; line-height: 60px;}
#content-panel .drawing-tool ul li {display: inline-block; width: 90px; margin-left: 10px; line-height: 35px; font-size: 10pt; font-weight: bold; text-align: center; cursor: pointer; border-radius: 5px; border: 1px solid #333333; background-color: #fff;}
#content-panel .drawing-tool ul li:hover {background-color: #333333; opacity:0.9; color: #fff;}
#content-panel .drawing-tool ul li:active {background-color: #333333; opacity:0.6; color: #fff;}

/* ------------------------------------------------------------------ footer-panel */
#footer-panel {clear:both;}
#footer-panel .navi-footer {position: relative; height: 100px; }

#footer-panel .navi-footer .pallet-left {width: 50%; float: left;}
#footer-panel .navi-footer .pallet-right {width: 50%; float: right;}

/* ---------- additional-tool */
#footer-panel .navi-footer .additional-tool {height: 70px;}
#footer-panel .navi-footer .additional-tool ul {list-style: none; padding: 0; margin: 0;}
#footer-panel .navi-footer .additional-tool ul li {display: inline-block; margin: 10px 10px;}
/* ---------- add-brush-tool */
#footer-panel .navi-footer .additional-tool #add-brush-tool {height: 70px;}
#footer-panel .navi-footer .additional-tool #add-brush-tool ul {margin-top: 5px;}
#footer-panel .navi-footer .additional-tool #add-brush-tool ul li {width: 40px; height: 20px; float: left; font-size: 10pt; font-weight: bold; border-radius: 5px; border: 1px solid #333333; padding: 10px; text-align: center; cursor: pointer;}
#footer-panel .navi-footer .additional-tool #add-brush-tool ul li:hover {background-color: #333333; opacity:0.9; color: #fff;}
#footer-panel .navi-footer .additional-tool #add-brush-tool ul li:active {background-color: #333333; opacity:0.6; color: #fff;}

/* ---------- color-pallet */
#footer-panel .navi-footer .color-pallet {height: 70px; background-color: #DCDCDC;}
#footer-panel .navi-footer .color-pallet ul {list-style: none; padding-top: 15px; margin: 0 0 0 25px; }
#footer-panel .navi-footer .color-pallet ul li {display: inline-block; padding: 0; margin: 10px 5px; width: 20px; height: 20px; float:left; border: 1px solid #fff; font-weight: bold; background-color: #333333; cursor: pointer;}
#footer-panel .navi-footer .color-pallet ul li:hover {background-color: #333333; opacity:0.7; color: #fff;}
#footer-panel .navi-footer .color-pallet ul li:active {background-color: #333333; opacity:0.4; color: #fff;}

/* ---------- penSize-pallet */
#footer-panel .navi-footer .penSize-pallet {height: 70px; }

#footer-panel .navi-footer .penSize-pallet ul {list-style: none; padding-top: 10px; margin: 0;}
#footer-panel .navi-footer .penSize-pallet ul li {display: inline-block; padding: 0; margin: 10px 10px; text-align: center; width: 30px; height: 30px; line-height: 30px; float:left; border-radius: 5px; background-color: #333333; font-weight: bold; color: #fff; cursor: pointer;}
#footer-panel .navi-footer .penSize-pallet ul li:hover {background-color: #333333; opacity:0.7; color: #fff;}
#footer-panel .navi-footer .penSize-pallet ul li:active {background-color: #333333; opacity:0.4; color: #fff; position: relative; top: 2px;}

#footer-panel .navi-footer .footer-bottom {float:right; font-size: 10pt; padding-top: 5px; font-color: #333333;}

/* ------------------------------------------------------------------ canvas */
canvas {display: block; border:1px solid #B8B6B8;}

/* ------------------------------------------------------------------ common */

#index-center-box {position: absolute; width: 800px; height: 500px; left: 50%; top: 40%; margin-left: -400px; margin-top: -200px;}
#index-center-box > p {margin: 0; text-align: center; font-size: 60pt; font-weight: bold; color: #C53163;}

#index-center-box #login-box {position: absolute; left: 25%; top: 50%; width: 400px; height: 150px;}
#index-center-box #login-box table {width: 100%; height: 100px;}
#index-center-box #login-box table th {font-size: 16pt; text-align: left;}
#index-center-box #login-box table td input {width: 100%; height: 23px; }

#index-center-box #login-box-btn {margin-top: 15px;}
#index-center-box #login-box-btn .login-btn {width: 120px; line-height: 40px; font-size: 12pt; font-weight: bold; text-align: center; cursor: pointer; border-radius: 5px; border: 1px solid #333333; background-color: #fff;}
#index-center-box #login-box-btn .login-btn:hover {background-color: #333333; opacity:0.9; color: #fff;}
#index-center-box #login-box-btn .login-btn:active {background-color: #333333; opacity:0.6; color: #fff;}



/* ------------------------------------------------------------------ icon */
/* ----------- tool icon */
.tool-ico {display: inline-block; background-repeat: no-repeat; margin-bottom: -3px; width: 18px; height: 18px; background-size: 18px 18px;}

.pencil-ico {background-image: url("../image/icon/pencil_ico.png"); }
.brush-ico {background-image: url("../image/icon/brush_ico.png");}
.figure-ico {background-image: url("../image/icon/figure_ico.png");}
.paint-ico {background-image: url("../image/icon/paint_ico.png");}
.eraser-ico {background-image: url("../image/icon/pencil_ico.png");}
.text-ico {background-image: url("../image/icon/text_ico.png");}
.selectarea-ico {background-image: url("../image/icon/area_ico.png");}

/* ----------- menu icon */
.savelocal-ico {background-image: url("../image/icon/download_white_ico.png");}
.savefile-ico {background-image: url("../image/icon/save_ico.png");}
.drawclear-ico {background-image: url("../image/icon/delete_white_ico.png");}
.myfolder-ico {background-image: url("../image/icon/menu_white_ico.png");}

.myfolder-black-ico {background-image: url("../image/icon/folder_black_ico.png");}
.myfile-ico {background-image: url("../image/icon/file_2_ico.png");}
.editname-ico {background-image: url("../image/icon/note_pen_ico.png");}
.savelocal-black-ico {background-image: url("../image/icon/download_black_ico.png");}
.drawclear-black-ico {background-image: url("../image/icon/delete_black_ico.png");}

.folder-plus-ico {background-image: url("../image/icon/plus_ico.png"); width: 13px !important; height: 13px !important; background-size: 13px 13px !important;}
.folder-minus-ico {background-image: url("../image/icon/minus_ico.png"); width: 13px !important; height: 13px !important; background-size: 13px 13px !important;}

.exit-ico {background-image: url("../image/icon/cross_ico.png"); width: 20px !important; height: 20px !important; background-size: 20px 20px !important; cursor: pointer;}

/* ------------------------------------------------------------------ myfile-menu */
.file-list {display: block; width: 350px; height: 400px; border: 3px solid #DCDCDC; background-color: #fff;
    position:fixed; left:50%; top:50%; z-index:101; -webkit-transform:translateX(-50%) translateY(-50%); transform:translateX(-50%) translateY(-50%); max-width:100%;}

.file-list table {width: 100%;}
.file-list table tr {margin: 5px;}
.file-list table tr.list-root i.folder-plus-ico {margin-right: 2px; width: 16px; height: 16px; background-size: 16px 16px;}
.file-list table tr.list-root i.myfolder-black-ico {margin-right: 2px; width: 16px; height: 16px; background-size: 16px 16px;}
.file-list table tr.list-file i.myfile-ico {margin-right: 0px; width: 16px; height: 16px; background-size: 16px 16px;}

/*#myfile-list table tr.list-folder 폴더면 원래 mergin-left에서 15 더 빼기*/

.file-list table tr p.list-name {margin: 3px; width: 240px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11pt; }
.file-list table tr td.on {background-color: #C53163; color: #fff; font-weight: bold;}

.file-list table tr .list-btn {float: right; margin-right: 7px; line-height: 28px;}

.file-list table tr td.depth-0 .list-name {margin-left: 35px; width: 220px;}
.file-list table tr td.depth-1 .list-name {margin-left: 55px; width: 200px;}
.file-list table tr td.depth-2 .list-name {margin-left: 75px; width: 180px;}
.file-list table tr td.depth-3 .list-name {margin-left: 95px; width: 160px;}
.file-list table tr td.depth-4 .list-name {margin-left: 115px; width: 140px;}
.file-list table tr td.depth-5 .list-name {margin-left: 135px; width: 120px;}

.file-list .div-exit {width: 100%; font-weight: bold; padding: 2px; font-size: 10pt;}
.file-list#myfile-list .div-exit {background-color: #DCDCDC; color: #333333;}
.file-list#file-saveView .div-exit {background-color: #333333; color: #fff;}

.file-list#myfile-list {overflow: auto;}

.file-list#file-saveView {border: 3px solid #333333; width: 300px !important; height: 240px;}
.file-list#file-saveView .filesave-top {height: 170px; background-color: #DCDCDC; overflow: auto;}
.file-list#file-saveView .filesave-bottom {margin: 10px; font-size: 10pt; }
.file-list#file-saveView .save-btn {width: 50px; line-height: 20px; color: #333333; font-weight: bold; text-align: center; cursor: pointer; border-radius: 3px; border: 1px solid #333333; background-color: #fff;}
.file-list#file-saveView .save-btn:hover {background-color: #333333; opacity:0.9; color: #fff;}
.file-list#file-saveView .save-btn:active {background-color: #333333; opacity:0.6; color: #fff;}